---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" style="padding: 75px 0">
					{% if page.url == '/' %}
					{% if site.logo %}
					<img src= "{{ site.logo }}" style="height: 150px">
					{% endif %}	
					{% else %}{% endif %}	
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<style type="text/css">
#timeTable{
  margin-left:auto;
  margin-right:auto;
  width:auto;
  height:auto;
  overflow:hidden;
  margin-top:auto;
}
</style>
<div id="timeTable">
<h1 align="center" style="font-size:70px;"><span id="year">2020</span>年<span id="month">5</span>月<span id="day">29</span>日 星期<span id="week">五</span></h1>
<h1 align="center" style="font-size:180px;"><span id="time">00:00:00</span></h1>
<h1 align="center" style="font-size:65px;">诚信应考 保持卫生</h1>
<h2 align="center" style="font-size:50px;">6.13 星期六 上午 语文 9:00-11:30 下午 数学 15:00-17:00<br>6.14 星期日 上午 文综 9:00-11:30 下午 英语 15:00-17:00</h2>
</div>
<script type="text/javascript">
var mySet=setInterval(function () {
  showLocalTime();
},1000)
</script>
</head>
<body>

<script type="text/javascript">
function addZero(i){
  if (i<10) {
    i="0" + i;
  }
  return i;
}
function numPlus(i){
  if (i) {
    i=i + 1 
  }
  return i;
}
function numToZh(i){
  if (i=="1") {
    i="一";
  }
  if (i=="2") {
    i="二";
  }
  if (i=="3") {
    i="三";
  }
  if (i=="4") {
    i="四";
  }
  if (i=="5") {
    i="五";
  }
  if (i=="6") {
    i="六";
  }
  if (i=="7") {
    i="日";
  }
  return i;
}
function showLocalTime() {
  var now=new Date();
  var year=now.getFullYear();
  var month=numPlus(now.getMonth());
  var date=now.getDate();
  var day=numToZh(now.getDay());
  var hour=addZero(now.getHours());
  var minute=addZero(now.getMinutes());
  var second=addZero(now.getSeconds());

  var weekObj=document.getElementById("week");
  var dayObj=document.getElementById("day");
  var yearObj=document.getElementById("year");
  var monthObj=document.getElementById("month");
  var shijianObj=document.getElementById("time");

  weekObj.innerHTML=day;
  dayObj.innerHTML=date;
  yearObj.innerHTML=year;
  monthObj.innerHTML=month;
  shijianObj.innerText=hour+":"+minute+":"+second;

}
</script>
<hr>
