---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>时钟</title>
<style type="text/css">
#timeTable{
  margin-left:auto;
  margin-right:auto;
  width:auto;
  height:auto;
  overflow:hidden;
  margin-top:auto;
}
</style>
<div id="timeTable">
<h1 align="center" style="font-size:55px;"><span id="year">2020</span>年<span id="month">5</span>月<span id="day">29</span>日 星期<span id="week">五</span></h1>
<h1 align="center" style="font-size:150px;"><span id="time">00:00:00</span></h1>
<h1 align="center" style="font-size:40px;">高三C4班提醒您：</h1>
<h1 align="center" style="font-size:60px;">诚信应考 保持卫生</h1>
<h1 align="center" style="font-size:50px;"><img src="https://i.niupic.com/images/2020/05/28/875M.jpg" alt="成功" width="73" height="65"><i> 祝你成功 </i><img src="https://i.niupic.com/images/2020/05/28/875M.jpg" alt="成功" width="73" height="65"></h1>
<h2 align="center" style="font-size:40px;">5月29日 09:00-11:30 语文 15:00-17:00 数学<br>5月30日 09:00-11:30 文综 15:00-17:00 英语</h2>
</div>
<script type="text/javascript">
var mySet=setInterval(function () {
  showLocalTime();
},1000)
</script>
</head>
<body>

<script type="text/javascript">
function addZero(i){
  if (i<10) {
    i="0" + i;
  }
  return i;
}
function numPlus(i){
  if (i) {
    i=i + 1 
  }
  return i;
}
function numToZh(i){
  if (i=="1") {
    i="一";
  }
  if (i=="2") {
    i="二";
  }
  if (i=="3") {
    i="三";
  }
  if (i=="4") {
    i="四";
  }
  if (i=="5") {
    i="五";
  }
  if (i=="6") {
    i="六";
  }
  if (i=="7") {
    i="日";
  }
  return i;
}
function showLocalTime() {
  var now=new Date();
  var year=now.getFullYear();
  var month=numPlus(now.getMonth());
  var date=now.getDate();
  var day=numToZh(now.getDay());
  var hour=addZero(now.getHours());
  var minute=addZero(now.getMinutes());
  var second=addZero(now.getSeconds());

  var weekObj=document.getElementById("week");
  var dayObj=document.getElementById("day");
  var yearObj=document.getElementById("year");
  var monthObj=document.getElementById("month");
  var shijianObj=document.getElementById("time");

  weekObj.innerHTML=day;
  dayObj.innerHTML=date;
  yearObj.innerHTML=year;
  monthObj.innerHTML=month;
  shijianObj.innerText=hour+":"+minute+":"+second;

}
</script>
</body>
</html>
